{% extends layout("heroless") %}

{% block content %}

<div>
    <div class="card">
    	<h3 class="card-title">All Categories</h3>
        <ul class="clean table">
            {% for c in categories %}
                <li {% if (c.id == category.id) %}class="current"{% endif %}>
                    <a  href="/teacher-training/{{ c.slug }}"
                        title="{{ c.title }}">
                        {{ c.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div>
	<h1>{{ category.name }}</h1>
    <p class="sub">{{ category.description }}</p>
    <div>
        <div>
            <ul class="clean modules">
                {% for module in category.modules %}
                <li>
					<a 	href="/teacher-training/{{ category.slug }}/{{ module.slug }}"
						title="{{ module.name }} | {{ category.name }}">
						<div class="card">
							<div>
								{% if (module.image) %}
									<img src="{{ module.image.make.url }}"/>
								{% endif %}
							</div>
							<div>
								<h3>
									{{ module.name }}
								</h3>
								<p>{{ module.description }}</p>
							</div>
						</div>
					</a>
				</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}