{% extends layout("heroless") %}

{% block content %}
<div>
	<div class="card">
		<h1 class="card-title">Teacher Training</h1>
	</div>
</div>
<div>
	{% for category in categories %}
	<ul class="clean modules">
		<h2>
			<a 	href="/teacher-training/{{ category.slug }}"
				title="{{ category.name }}">
				{{ category.name }}
			</a>
		</h2>
		<p class="sub">{{ category.description }}</p>

		{% for module in category.modules %}
		<li>
			<a 	href="/teacher-training/{{ category.slug }}/{{ module.slug }}"
				title="{{ module.name }} | {{ category.name }}">
				<div class="card">
					<div>
						{% if (module.image) %}
							<img src="{{ module.image.make.url }}"/>
						{% endif %}
					</div>
					<div>
						<h3>
							{{ module.name }}
						</h3>
						<p>{{ module.description }}</p>
					</div>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
	{% endfor %}
</div>
{% endblock %}