{% extends layout("heroless") %}

{% block content %}
<div>
    <div class="card">
    	<h3 class="card-title">{{ category.name }}</h3>
        <ul class="clean table">
            {% for m in category.modules %}
            <li {% if (m.id == module.id) %}class="current"{% endif %}>
                <a  href="/teacher-training/{{ category.slug }}/{{ m.slug }}"
                    title="{{ m.name }}">
                    {{ m.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div>
	<div class="lesson">
		<h1>
			{{ module.name }}
		</h1>
		{% if (module.video_id|length > 0) %}
		<div class="video-container">
			<iframe id="ytplayer" type="text/html"
	  src="https://www.youtube.com/embed/{{ module.video_id }}?autoplay=0"
	  frameborder="0" class="center"></iframe>
		</div>
		{% endif %}
		<div>
			{{ module.content|raw }}
		</div>
	</div>
</div>
{% endblock %}